[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "Ideal-Image-Slider-JS"]
	path = Ideal-Image-Slider-JS
	url = https://github.com/Codeinwp/
